@import '~bootstrap/dist/css/bootstrap.min.css';

#moblieView img {
  width: 100%;
  height: auto;
}

.dropbtn {
  background-color: #343a40;
  color: white;
  padding: 10px;
  font-size: 12px;
  margin-right: 2em;
  border: 1px solid #343a40;
  border-radius: 40px 40px 40px 40px;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50vw;
  background-color: #f1f1f1;
  text-align: center;
  color: #213690;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  color: #213690;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: rgb(138, 138, 138);
  color: rgb(65, 65, 65);
}

.logo {
  margin-top: 1em;
  width: 30vw;
}
