<div *ngIf="token">
  <div class="d-none d-lg-block">
    <div class="d-flex justify-content-center ">
      <img src="../../../assets/img/logo.jpg" class="logo" alt="logo">
    </div>

    <app-Menu_bar-component></app-Menu_bar-component>
    <router-outlet></router-outlet>
    <app-footer-component></app-footer-component>

  </div>

  <div class="d-lg-none">
    <ng-sidebar-container style="height: 100vh; width: 100%;">
      <!-- A sidebar -->
      <ng-sidebar [(opened)]="_opened" [showBackdrop]="_showBackdrop" [closeOnClickOutside]="_closeOnClickOutside"
        [closeOnClickBackdrop]="_closeOnClickBackdrop">
        <div style="height:100% ;width: 50vw ; background-color: #f1f1f1;">
          <ul>
            <li><img src="../../../assets/img/avartar.jpg" alt="" style="border-radius:
                50%; width: 150px; height: auto; padding-top: 1em; margin:
                auto;"></li>
            <br>
            <li>
              <p>{{this.fullName}}</p>
            </li>
            <li>
              <p>{{this.email}}</p>
            </li>
            <!-- <li *ngIf="role == 'USER'"><a href="index/dashboard">Guest Dashboard</a></li>
            <li *ngIf="role == 'STUDENT'"><a href="index/dashboard">Student Dashboard</a></li>
            <li *ngIf="role == 'COORDINATOR'"><a href="index/dashboard">Coordinator Dashboard</a></li> -->
            <li><b><a href="index/homePage">Home Page</a></b></li>
            <li><b><a href="index/dashboard">Dashboard</a></b></li>
            <li><b><a href="index/contactUs">Contact Us</a></b></li>
            <li style="color: #f52e2e;"> <a (click)="logout()"><i class="fas
                  fa-sign-in-alt"> </i>&nbsp; Logout</a></li>
            <li><a closeSidebar>Close</a></li>
          </ul>

        </div>
      </ng-sidebar>
      <!-- Page content -->
      <div ng-sidebar-content>
        <header>
          <div class="d-flex justify-content-star" style="background-color:
            #343a40; height: auto; font-size: 1em;">
            <button class="dropbtn" (click)="_toggleSidebar()"><i class="fas
                fa-bars"></i>
              &nbsp; MENU</button>
          </div>
          <br>
          <br>
          <div class="d-flex justify-content-center" id="moblieView">
            <img src="../../../assets/img/logo.jpg" style="width: 70%; height: auto;" alt="logo">
            <br>
          </div>
        </header>

        <router-outlet></router-outlet>

        <div class="d-flex justify-content-center" id="chart">
        </div>
        <app-footer-component></app-footer-component>
      </div>
    </ng-sidebar-container>

  </div>

</div>

<div *ngIf="!token" style="text-align: center; margin: 5em;">
  <H1>401 Unauthorized</H1>
  <br>
  <h2> You need <a href="./login"> login </a> to access this page</h2>

</div>