<br>
<br>
<br>
<div>
  <h2 style=" text-align: center;">Topic page</h2>
</div>
<br>
<div id="carResult">
  <div class="card-header">
    <h5>Title: {{this.topicName}}</h5>
  </div>
  <div class="card-body">
    <div>Topic code: {{this.topicCode}} </div>
    <br>
    <div>Public date: {{getDate(this.publishDate)| date: 'dd/MM/yyyy'}}</div>
    <br>
    <div>First deadline: {{getDate(this.firstDeadline)| date: 'dd/MM/yyyy'}}</div>
    <br>
    <div>Second deadline: {{getDate(this.secondDeadline)| date: 'dd/MM/yyyy'}}</div>
    <br>
    <div>Description: {{this.description}}
    </div>
    <hr>
  </div>
  <div class="d-none d-lg-block">
    <div class="card-body row">
      <div class="col-1" style="text-align: center;  font-weight: bold;">
        <p>No.</p>
      </div>
      <div class="col-3" style="text-align: center;  font-weight: bold;">
        <p>Email</p>
      </div>
      <div class="col-3" style="text-align: center;  font-weight: bold;">
        <p>Author Name</p>
      </div>
      <div class="col-2" style="text-align: center;  font-weight: bold;">
        <p>Date submited</p>
      </div>
      <div class="col-2" style="text-align: center;  font-weight: bold;">
      </div>
      <div class="col-1" style="text-align: center;  font-weight: bold;">
      </div>
    </div>
    <div *ngIf="role ==='COORDINATOR'">
      <div *ngFor="let item of dataSubmisstion; let i = index" class="card-body row">
        <div class="col-1" style="text-align: center;">
          <p>{{i + 1}}</p>
        </div>
        <div class="col-3" style="text-align: center;">
          <p>{{this.listSubmisstion[i].user.email}} </p>
        </div>
        <div class="col-3" style="text-align: center;  font-weight: bold;">
          <p>{{this.listSubmisstion[i].user.fullName}}</p>
        </div>
        <div class="col-2" style="text-align: center;">
          <p>{{getDate(item.createdAt)| date: 'dd/MM/yyyy'}}</p>
        </div>
        <div class="col-1" style="text-align: center;">
        </div>
        <div class="col-2" style="text-align: center;">
          <a>
            <p type="button" id="detailBtn" (click)="openUpload(item.id)">Detail</p>
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="role ==='MANAGER'">
      <div *ngFor="let item of dataSubmisstion; let i = index" class="card-body row">
        <div class="col-1" style="text-align: center;">
          <p>{{i + 1}}</p>
        </div>
        <div class="col-3" style="text-align: center;">
          <p>{{this.listSubmisstion[i].user.email}} </p>
        </div>
        <div class="col-3" style="text-align: center;  font-weight: bold;">
          <p>{{this.listSubmisstion[i].user.fullName}}</p>
        </div>
        <div class="col-2" style="text-align: center;">
          <p>{{getDate(item.createdAt)| date: 'dd/MM/yyyy'}}</p>
        </div>
        <div class="col-1" style="text-align: center;">
        </div>
        <div class="col-2" style="text-align: center;">
          <p type="button" id="detailBtn" (click)="openSubmission(item.id)">Detail</p>
        </div>
      </div>
    </div>

    <div *ngIf="role ==='MANAGER'" class="card-body row">
      <div class="col-1" style="text-align: center; font-weight: bold;">

      </div>
      <div class="col-3" style="text-align: center;  font-weight: bold;">

      </div>
      <div class="col-4" style="text-align: center;  font-weight: bold;">

      </div>
      <div class="col-2" style="text-align: center;  font-weight: bold;">

      </div>
      <div class="col-2" style="text-align: center;  font-weight: bold;">
        <p type="button" id="downloadAllBtn" (click)="saveZipForManager()">
          Dowload Zip</p>
      </div>
    </div>
  </div>



  <div class="d-sm-block d-md-block d-lg-none">
    <div *ngIf="role ==='COORDINATOR'">
      <div *ngFor="let item of dataSubmisstion; let i = index" class="card-body row">
        <div class="col-6" style="text-align: center;">
          <p>{{this.listSubmisstion[i].user.email}} </p>
          <p>{{getDate(item.createdAt)| date: 'dd/MM/yyyy'}}</p>
        </div>

        <div class="col-6" style="text-align: center;">
          <p type="button" id="detailBtn" (click)="openUpload(item.id)">Detail</p>
        </div>
      </div>
    </div>
    <div *ngIf="role ==='MANAGER'">
      <div *ngFor="let item of dataSubmisstion; let i = index" class="card-body row">

        <div class="col-6" style="text-align: center;">
          <p>{{this.listSubmisstion[i].user.email}} </p>
          <p>{{getDate(item.createdAt)| date: 'dd/MM/yyyy'}}</p>

        </div>

        <div class="col-6" style="text-align: center; margin-top: 0.7em;">
          <p type="button" id="detailBtn" (click)="openSubmission(item.id)">Detail</p>
        </div>
      </div>
    </div>

    <div *ngIf="role ==='MANAGER'" class="card-body row">

      <div class="col-6" style="text-align: center;  font-weight: bold;">

      </div>
      <div class="col-6" style="text-align: center;  font-weight: bold;">
        <p type="button" id="downloadAllBtn" (click)="saveZipForManager()">
          Dowload Zip</p>
      </div>
    </div>
  </div>
  <!-- <div *ngFor="let item of topicData; let i = index">
  <div id="carResult">
    <div class="card-header">
      <h5>Title: {{item.name}}</h5>
    </div>
    <div class="card-body">
      <div>Topic code: {{item.code}} </div>
      <div>Due date: {{item.dueDate}}</div>
      <div>Description:{{item.description}}</div>
    </div>
  </div>
  <br>
  <br>
</div> -->
  <br>
  <br>