<div *ngIf="token">
    <div class="d-none d-lg-block">
        <div class="d-none d-lg-block">
            <carousel [cellWidth]="200" [cellsToShow]=1 [height]="410" [dots]="true">

                <div class="carousel-cell">
                    <img src="../../../assets/img/imageConten1.jpg" style="width:
                        100%;
                        height: auto;" id="slideImg">
                    <div class="center" style="width: 70%;">
                        <h1>Business School</h1>
                        <h3>
                            Our undergraduate and postgraduate business
                            programmes combine teaching with work placements,
                            business simulations and guest lectures</h3>
                    </div>
                </div>

                <div class="carousel-cell">
                    <img src="../../../assets/img/imageConten2.jpg" style="width:
                        100%;
                        height: auto;" id="slideImg">
                    <div class="center" style="width: 70%;">
                        <h1>Faculty of Education, Health and
                            Human Sciences</h1>
                        <h3>
                            We are dedicated to inspirational learning,
                            combining teaching with work placements and
                            impactful research</h3>
                    </div>
                </div>

                <div class="carousel-cell">
                    <img src="../../../assets/img/imageConten3.jpg" style="width:
                        100%;
                        height: auto;" id="slideImg">
                    <div class="center" style="width: 70%;">
                        <h1>Faculty of Engineering and Science</h1>
                        <h3>
                            We have a wide range of partners to support our
                            teaching initiatives to ensure</h3>
                    </div>
                </div>
            </carousel>
        </div>
        <br>
        <hr>

        <div class="row d-flex justify-content-center">
            <div class="col-8 column">
                <div>

                    <!-- Search bar -->
                    <form action="">
                        <button id="searchbtn" (click)="search()">
                            <span>
                                <a style="color: #fff;">
                                    <i class="fas fa-search"></i></a>
                            </span>
                        </button>

                        <input type="text" id="myInput" placeholder="Search by topic code..."
                            placeholder="Enter topic's code or topic's name" title="search bar" [(ngModel)]="inputCode"
                            name="inputCode">
                    </form>



                </div>
                <br>
                <div class="d-flex justify-content-center">
                    <h4>Publish Topics</h4>
                </div>
                <div class="example-box" *ngFor="let item of recentTopic, let i = index">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <label>
                                    <h4>
                                        <b (click)="openTopic(item.topicCode)">Title:{{item.name}}</b>
                                    </h4>
                                </label>
                                <h4>Topic Code: {{item.topicCode}} </h4>
                                <p>Publish date: {{getDate(item.publishDate)| date: 'dd/MM/yyyy'}}</p>
                                <div class="textContent">
                                    Description: {{item.description}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3 column">
                <br><br>
                <div class="d-flex justify-content-center">
                    <h4>Numbers of submissions last 7 days</h4>
                </div>
                <div id="chart">
                </div>
            </div>
        </div>
        <!-- <button class="open-button" (click)="openForm()"><i class="fab fa-facebook-messenger"></i></button>

        <div *ngIf="this.popupChatBox" class="chat-popup" id="myForm">
            <form action="/action_page.php" class="form-container">
                <h1>Chat Box</h1>

                <label for="msg"><b>Message</b></label>
                <div class="message-body" id="commentsAera">
                    <div>
                        <p>
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                            This is chat message
                        </p>
                    </div>
                </div>
                <textarea placeholder="Type message.." name="msg" required></textarea>

                <button type="submit" class="btn">Send</button>
                <button type="button" class="btn cancel" (click)="closeForm()">Close</button>
            </form>
        </div> -->

    </div>




    <!-- Mobile view -->
    <div class="d-lg-none">
        <div class="row d-flex justify-content-center">
            <div>
                <br>
                <br>
                <div class="d-flex justify-content-center d-sm-block d-md-none" style="height: auto;">
                    <ng-image-slider [images]="imageObject" [imageSize]="{width: '99%', height: 150}"
                        [showArrow]="showArrow" [imagePopup]="false" style="width: 80vw; z-index: 0; height: auto;">
                    </ng-image-slider>
                </div>
                <div class="d-md-flex justify-content-center d-none d-sm-none d-md-block">
                    <ng-image-slider [images]="imageObject" [imageSize]="{width: '99%', height: 300}"
                        [showArrow]="showArrow" [imagePopup]="false" style="width: 80vw; z-index: 0; height: auto;">
                    </ng-image-slider>
                </div>

                <br>
                <div>
                    <!-- Search bar -->
                    <form action="">
                        <button id="searchbtn" (click)="search()">
                            <span>
                                <a style="color: #fff;">
                                    <i class="fas fa-search"></i></a>
                            </span>
                        </button>

                        <input type="text" id="myInput" placeholder="Search by topic code or name" title="search bar"
                            [(ngModel)]="inputCode" name="inputCode">
                    </form>
                </div>
                <br>
                <div class="d-flex justify-content-center">
                    <h4>Recent Topics</h4>
                </div>
                <hr>
                <div>
                    <div class=" d-flex justify-content-center card-columns row">
                        <div class="card" style="width: 10rem; margin:  0.5em;"
                            *ngFor="let item of recentTopic, let i = index">
                            <div class="card-body">
                                <h6 (click)="openTopic(item.topicCode)" class="card-title"><b>{{item.name}}</b></h6>
                                <p>Publish date: {{getDate(item.publishDate)| date: 'dd/MM/yyyy'}}</p>
                                <p class="card-text textContentMobile">Description: {{item.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>
</div>

<div *ngIf="!token" style="text-align: center; margin: 5em;">
    <H1>401 Unauthorized</H1>
    <br>
    <h2> You need <a href="./login"> login </a> to access this page</h2>

</div>