@import "~bootstrap/dist/css/bootstrap.min.css";
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: Roboto, sans-serif;
}

#chart {
  max-width: 650px;
  margin: 35px auto;
}

#chart2 {
  min-width: 150px;
  margin: 35px auto;
}

.previous {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  color: white;
  background-color: rgb(64, 153, 216);
  padding: 0.8em;
  text-align: left;
  margin-left: 5%;
}

.next {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  color: white;
  background-color: rgb(64, 153, 216);
  padding: 0.8em;
  text-align: right;
  margin-left: 65%;
}

.center {
  font-family: "Helvetica Neue", Times, sans-serif;
  font-size: 2vw;
  letter-spacing: 1px;
  word-spacing: 5px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1.5em;
  width: 100%;
  height: auto;
  color: #213690;
}


@media only screen and (max-width: 600px) {
  #myInput {
    width: 70%;
    font-size: 16px;
    padding: 5px 20px 5px 20px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 0px 40px 40px 0px;

  }

  #searchbtn {
    margin-left: 10vw;
    background-color: #343a40;
    font-size: 16px;
    padding: 5px 10px 5px 20px;
    border-radius: 40px 0px 0px 40px;
    border: 1px solid #ddd;
    color: #fff;
  }
}

@media only screen and (min-width: 600px) {
  #myInput {
    width: 40%;
    font-size: 16px;
    padding: 5px 20px 5px 20px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 0px 40px 40px 0px;
  }

  #searchbtn {
    background-color: #343a40;
    font-size: 16px;
    padding: 5px 10px 5px 20px;
    border-radius: 40px 0px 0px 40px;
    border: 1px solid #ddd;
    color: #fff;
  }
}



#slideImg {
  opacity: 0.5;
}

.card {
  margin-top: 2em;
}

img {
  width: 100%;
  height: auto;
}

.content {
  display: inline;
  color: #213690;
}

h4 {
  color: #213690;
  font-family: "Helvetica Neue",
    Times,
    sans-serif;
}

h6 {
  color: #213690;
  font-family: "Helvetica Neue",
    Times,
    sans-serif;
}

p {
  color: #213690;
  font-family: "Helvetica Neue",
    Times,
    sans-serif;
}

.textContent {
  font-family: "Helvetica Neue", Times, sans-serif;
  letter-spacing: 1px;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: auto;
  font-size: 2rem;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.65;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #213690;
}

.textContentMobile {
  font-family: "Helvetica Neue", Times, sans-serif;
  letter-spacing: 1px;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 100px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 1.65;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#carousel {
  z-index: -100;
}

.message-body {
  float: left;
  height: auto;
  background-color: #ffffff;
  padding: 2px 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

#commentsAera {
  height: 200px;
  overflow: auto;
  max-width: 300px;
}

* {
  box-sizing: border-box;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: rgb(71, 173, 210);
  color: white;
  padding: 13px 15px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 5vw;
  z-index: 10000000;
}

/* The popup chat - hidden by default */
.chat-popup {
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 10000000;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 50px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #82da85;
  color: white;
  padding: 13px 15px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(230, 93, 93);
  padding: 13px 15px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
