@import "~bootstrap/dist/css/bootstrap.min.css";



#upload {
  text-align: left;
}

#commentMessage {
  padding: 0.5em;
  margin: auto;
  border: 2px solid #1C6EA4;
  border-radius: 20px;

}

.message-body p {
  margin: 0;
}

.message-body {
  float: left;
  height: auto;
  background-color: #ffffff;
  padding: 2px 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}





#uploadbtn {
  padding: 3px;
}




// Pc Tablet view
@media only screen and (min-width: 600px) {
  #form {
    border: 2px solid #1C6EA4;
    border-radius: 10px 10px 10px 10px;
    padding: 2em;
    margin: auto;
    width: 70%;
  }

  #pageName {
    text-align: center;
  }

  #commentsAera {
    width: 40vw;
    height: 100px;
    overflow: auto;
  }
}


// Mobile view
@media only screen and (max-width: 600px) {
  #form {
    font-size: 4vw;
    margin: auto;
    width: 90%;
  }

  h4 {
    text-align: center;
    font-size: 7vw;
  }

  h2 {
    text-align: center;
    font-size: 7vw;
  }

  #commentsAera {
    width: 65vw;
    height: 200px;
    font-size: 4vw;
    overflow: auto;
    line-height: 3vh;
  }
}

#downloadBtn {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  color: white;
  background-color: DodgerBlue;
  padding: 0.2rem;
}
