<br>
<br>
<br>
<br>
<br>
<br>

<!-- <angular-file-uploader [config]="afuConfig">
  </angular-file-uploader> -->
<div class="container">
  <div class="justify-content-center" id="form">
    <!-- Thông tin -->
    <div>
      <h2 id="pageName">Submission</h2>
      <hr>
      <br>
      <div class="form-group">
        <p *ngIf="role == 'STUDENT'">Contributor: {{this.fullName}}</p>
        <p>Topic: {{this.topicName}}</p>
        <p *ngIf="role == 'STUDENT'">Status: {{this.status}}</p>
        <div *ngIf="role == 'COORDINATOR'">
          <p>Student name: {{this.listSubmisstion.student.user.fullName}}</p>
          <p><label for="satus">Status: &nbsp;</label>
            <select [(ngModel)]="selectedValue" aria-placeholder="Pending" name="satus" id="satus">
              <option [ngValue]="null" value="PENDING">PENDING</option>
              <option value="APPROVED">APPROVED</option>
              <option value="FAILED">FAILED</option>
            </select>
          </p>
          <button id="uploadbtn" class="btn btn-success" [disabled]="selectedValue === null" (click)="updateSatus()">
            Upload
          </button>
          <br>
          <br>
          <div>
            <p>Submission list:</p>
          </div>
          <div *ngFor="let item of this.contentUrls; let i=index" style="text-align: center;">
            <a [href]="item">
              <p id="downloadBtn">Submisson {{i+1}}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div *ngIf="role == 'STUDENT'">
      <div *ngFor="let item of this.contentUrls; let i=index" style="text-align: center;">
        <a [href]="item">
          <p id="downloadBtn">Submisson {{i+1}}</p>
        </a>
      </div>
      <p>Due Date: {{getDate(this.firstDeadline)| date: 'dd/MM/yyyy'}}</p>
      <div *ngIf="today < getDate(firstDeadline)">
        <div class="form-group" id="upload">
          <!-- Chưa qua Deadline1 -->
          <input type="file" multiple (change)="selectFiles($event)" />
          <br>
          <br>
          <div *ngFor="let fileName of progressInfos" style="text-align: left;">
            {{fileName}}
          </div>

          <br>
          <button *ngIf="check && selectedFiles" id="uploadbtn" class="btn btn-success" [disabled]="!selectedFiles"
            (click)="uploadFilesDeadline1()">
            Upload
          </button>


        </div>
        <div class="section" style="text-align: left;">
          <label class="option option-blue">
            <input type="checkbox" [(ngModel)]="check" name="check1">
            <span class="checkbox"></span> I agree with terms of use and policies
          </label>
        </div>
      </div>

      <div *ngIf="today > getDate(firstDeadline)">
        <div class="form-group" id="upload">
          <!-- Qua Deadline1 -->
          <input type="file" multiple (change)="selectFiles($event)" disabled />
          <br>
          <br>
          <button id="uploadbtn" class="btn btn-danger" disabled>
            Closed
          </button>
          <br>
        </div>
      </div>
      <!-- Deadline2 -->
      <p>Second Deadline: {{getDate(this.secondDeadline)| date: 'dd/MM/yyyy'}}</p>
      <!-- Chưa qua Deadline1 -->
      <div class="form-group" id="upload">
        <div *ngIf="today < getDate(firstDeadline)">
          <input type="file" multiple (change)="selectFiles($event)" disabled />
          <br>
          <br>
          <button id="uploadbtn" class="btn btn-warning" disabled>
            Not yet
          </button>
          <div>
          </div>
        </div>

        <!-- Qua Deadline1 còn trong deadline 2 đã submited-->
        <div *ngIf="today < getDate(secondDeadline) && today > getDate(firstDeadline) && submit">
          <input type="file" multiple (change)="selectFiles($event)" />
          <div *ngFor="let fileName of progressInfos" style="text-align: left;">
            {{fileName}}
          </div>
          <br>
          <br>
          <button *ngIf="check && selectedFiles" id="uploadbtn" class="btn btn-success" [disabled]="!selectedFiles"
            (click)="uploadFilesDeadline2()">
            Upload
          </button>
          <div>
            <div class="section" style="text-align: left;">
              <label class="option option-blue">
                <input type="checkbox" [(ngModel)]="check" name="check1">
                <span class="checkbox"></span> I agreeI agree with terms of use and policies
              </label>
            </div>
          </div>
        </div>


        <!-- Qua Deadline1 còn trong deadline 2 nhưng không submited-->
        <div *ngIf="today < getDate(secondDeadline) && today > getDate(firstDeadline) && !submit">
          <input type="file" multiple (change)="selectFiles($event)" disabled />
          <br>
          <br>
          <button id="uploadbtn" class="btn btn-danger" disabled>
            Closed
          </button>
        </div>
        <!-- Qua Deadline2-->
        <div *ngIf="today > getDate(secondDeadline)">
          <input type="file" multiple (change)="selectFiles($event)" disabled />
          <br>
          <br>
          <button id="uploadbtn" class="btn btn-danger" disabled>
            Closed
          </button>
        </div>
        <br>
        <hr>
      </div>

    </div>






    <div>
      <div>
        <h4>Comments:</h4>
        <div class="message-body" id="commentsAera">
          <div *ngFor="let item of commentList ; let i=index">
            <p style="margin-bottom: 10px;"> {{getDate(item.createdAt)| date: 'dd/MM/yyyy'}}
              {{this.commentAuthor[i].email}} -
              {{this.commentAuthor[i].role}}:
              <br> {{item.content}}
            </p>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br><br>
      <br>
      <div class="section d-none d-lg-block" style="margin-top: auto;">
        <label class="field prepend-icon">
          <textarea class="gui-textarea" id="comment" name="comment" placeholder="Enter message..." rows="4" cols="70"
            [(ngModel)]="inputComment"></textarea>
        </label>
      </div>
      <div class="section d-lg-none" style="margin-top: 2em;">
        <label class="field prepend-icon">
          <textarea class="gui-textarea" id="comment" name="comment" placeholder="Enter message..." rows="4" cols="30"
            [(ngModel)]="inputComment"></textarea>
        </label>
      </div>
      <button *ngIf="role ==='STUDENT'" type="button" class="btn btn-primary btn-sm" [disabled]="!submit"
        (click)="comment()">Comment</button>
      <button *ngIf="role ==='COORDINATOR'" type="button" class="btn btn-primary btn-sm"
        (click)="comment()">Comment</button>
      <div class="form-footer">

      </div><!-- end .form-footer section -->
    </div>
  </div>
</div>

<br>
<br>