<br>
<br>
<br>

<br>
<div id="carResult">
  <div class="card-header">
  </div>
  <div class="card-body">
    <div>Topic code: {{this.topicCode}}</div>
    <br>
    <div>Upload date: {{getDate(this.listSubmisstion.createdAt)| date: 'dd/MM/yyyy'}}</div>
    <br>
    <div>Student name: {{this.listSubmisstion.student.user.fullName}}</div>
    <br>
    <hr>
  </div>
  <div class="card-body">

    <p>Submission list:</p>

    <div *ngFor="let item of this.contentUrls; let i=index" style="text-align: center;">
      <a [href]="item">
        <p id="downloadBtn">Submisson {{i+1}}</p>
      </a>
    </div>
  </div>



  <!-- <div *ngFor="let item of topicData; let i = index">
  <div id="carResult">
    <div class="card-header">
      <h5>Title: {{item.name}}</h5>
    </div>
    <div class="card-body">
      <div>Topic code: {{item.code}} </div>
      <div>Due date: {{item.dueDate}}</div>
      <div>Description:{{item.description}}</div>
    </div>
  </div>
  <br>
  <br>
</div> -->
  <br>
  <br>