@import '~bootstrap/dist/css/bootstrap.min.css';


@media only screen and (min-width: 600px) {
  #carResult {
    border: 1px solid #ddd;
    width: 70%;
    margin-left: 15vw;
  }

}


@media only screen and (max-width: 600px) {
  #carResult {
    border: 1px solid #ddd;
  }

}



#downloadAllBtn {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  color: white;
  background-color: rgb(85, 199, 68);
  padding: 0.5rem;
}

hr {
  border-top: 1px solid;
}

#downloadBtn {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  color: white;
  background-color: DodgerBlue;
  padding: 0.2rem;
}

#detailBtn {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  color: white;
  background-color: rgb(97, 95, 102);
  padding: 0.2rem;
}
