<br>
<br>
<br>
<div>
  <h2 style=" text-align: center;">Search result</h2>
</div>
<br>
<div *ngFor="let item of result; let i=index">
  <div id="carResult">
    <div class="card-header">
      <h5 type="button" (click)="openTopic(item.topicCode)">{{item.name}}</h5>
    </div>
    <div class="card-body">
      <div>Topic code: {{item.topicCode}}</div>
      <br>
      <div>Due date: {{getDate(item.firstDeadline)| date: 'dd/MM/yyyy'}}</div>
      <br>
      <div>Description:{{item.description}}</div>
    </div>
  </div>
  <br>
  <br>
</div>
<br>
<br>