@import '~bootstrap/dist/css/bootstrap.min.css';

a {
  font-family: "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;

}

.navbar-brand {
  margin-left: 0.8em;
}

.navbar {
  padding: 0.5em;
  margin-left: 1em;
}

a:hover {
  opacity: 0.5;
}

#moblieView img {
  width: 80%;
  height: auto;
}

.dropbtn {
  background-color: #343a40;
  color: white;
  padding: 10px;
  font-size: 12px;
  margin-right: 2em;
  border: 1px solid #343a40;
  border-radius: 40px 40px 40px 40px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #4f5153;
}

.logo {
  margin-top: 1em;
  width: 30vw;
}
