<header>
  <br>
  <br>
  <br>
  <div class="bg-dark   d-none  d-lg-block" style="padding: 0.5em;">
    <div class="row justify-content-lg-center">

      <div class="col-lg-8 ">
        <nav class="navbar-dark bg-dark float-right">

          <a class="navbar-brand" href="index/homePage">
            <i class="fas fa-home"></i>&nbsp; Home</a>
          <a class="navbar-brand" href="index/dashboard">
            <i class="fas fa-tachometer-alt"></i>&nbsp; Dashboard</a>
          <a class="navbar-brand" href="index/contactUs">
            <i class="fas fa-user-shield"></i> &nbsp; Contact us</a>
        </nav>
      </div>
      <div class="col col-lg-4">
        <nav class="navbar-dark bg-dark float-right">
          <a class="navbar-brand"> Hello {{this.firstName}}!</a>
          <a class="navbar-brand" href="" (click)="logout()">
            <i class="fas fa-sign-in-alt"></i>&nbsp;Logout</a>
        </nav>
      </div>
    </div>
  </div>
</header>