<br>
<br>
<br>
<br>
<!-- <div *ngIf="role == 'COORDINATOR'"> -->
<div class="container">
  <div class="row">
    <div class="col-4 justify-content-center d-none d-lg-block"
      style=" border-right: 2px solid #213690; margin-top:40px">
      <br>
      <div class="hinhanh">
        <img src="../../assets/img/avartar.jpg" style="width:40%;margin: auto;padding: 10px;display: flex;">
      </div>


      <div class="contain-box" style="text-align:center">
        <h3 value="id"><b>Name: {{this.fullName}}</b></h3>
        <p value="id">Email: {{this.email}}</p>
      </div>
      <div class="div">
        <br>
      </div>

    </div>
    <div class="col col-md-col-8 col-lg-col-8" id="searchResult">
      <div class="chu d-flex justify-content-center" style="margin-top: 2em; color: #213690">
        <h1 *ngIf="role == 'COORDINATOR'"><b>Coordinator Dashboard</b></h1>
        <h1 *ngIf="role == 'MANAGER'"><b>Manager Dashboard</b></h1>
        <h1 *ngIf="role == 'STUDENT'"><b>Student Dashboard</b></h1>
        <h1 *ngIf="role == 'USER'"><b>Guest Dashboard</b></h1>
      </div>
      <div class="form-group" style="margin-left:20px">
        <div>
          <form action="">
            <button id="searchbtn" (click)="search()">
              <span>
                <a style="color: #fff;">
                  <i class="fas fa-search"></i></a>
              </span>
            </button>

            <input type="text" id="myInput" placeholder="Search by topic code..."
              placeholder="Enter topic's code or topic's name" title="search bar" [(ngModel)]="inputCode"
              name="inputCode">
          </form>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>



    <!-- <div *ngIf="role != 'COORDINATOR'">
      <h1 style=" text-align: center;">ERROR!! YOU ARE NOT COORDINATOR TO CAN ACCESS THIS PAGE!!</h1>
    </div> -->

    <br>
    <br>