.has-search .form-control {
  padding-left: 2.375rem;
  font-family: "Helvetica Neue", Times, sans-serif;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.center {
  font-family: "Helvetica Neue", Times, sans-serif;
  font-size: 44px;
  letter-spacing: 1px;
  word-spacing: 5px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1.5em;
  width: 100%;
  height: auto;
  color: #213690;
}

.contain-box {
  font-family: "Helvetica Neue", Times, sans-serif;
  letter-spacing: 1px;
  font-size: 2rem;
  font-size: 16px;
  margin: 0 auto;
  line-height: 1.65;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: 100%;
  height: auto;
  display: block;
  color: #213690;
}

#searchResult {
  font-family: "Helvetica Neue", Times, sans-serif;
  letter-spacing: 1px;
  font-size: 2rem;
  font-size: 16px;
  margin: 0 auto;
  line-height: 1.65;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: 100%;
  height: auto;
  display: block;
  color: #213690;
}

#searchbtn {
  background-color: #343a40;
  font-size: 16px;
  padding: 5px 10px 5px 20px;
  border-radius: 40px 0px 0px 40px;
  border: 1px solid #ddd;
  color: #fff;
}

#myInput {
  width: 60%;
  font-size: 16px;
  padding: 5px 20px 5px 20px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 0px 40px 40px 0px;
}
