<br>



<div id="link-contri" style="margin-left: 20px; border-top: 2px solid #213690">
  <br>
  <h2 style="text-align:center">
    <p>Search Results</p>
  </h2>

  <div *ngIf="this.code != 'undefined' && this.result!= undefined">
    <div *ngFor="let item of result; let i=index">
      <div class="khung" style="border: 2px solid #213690; border-radius: 8px;">
        <div class="chu" style="margin-left: 20px; margin-right:20px; padding: 1em;">
          <label>
            <h3 (click)="search(item.topicCode)"><b>{{item.name}}</b></h3>
          </label>
          <p value="id"><b>Topic code: </b> {{item.topicCode}}</p>
          <p value="id"><b>Due date: </b>{{getDate(item.firstDeadline)| date: 'dd/MM/yyyy'}}</p>
          <p value="id"><b>Resubmit date: </b>{{getDate(item.secondDeadline)| date: 'dd/MM/yyyy'}}</p>
          <p><b>Description: </b>{{item.description}}</p>
        </div>
      </div>
      <br>
    </div>

  </div>
  <div *ngIf="this.code != 'undefined' && this.result == undefined" class="khung"
    style="border: 2px solid #213690; border-radius: 8px;">
    <br>
    <h2 style="text-align:center">
      <p>Can't find any topic</p>
    </h2>
    <br>
  </div>
  <div *ngIf="this.code == 'undefined'" class="khung" style="border: 2px solid #213690; border-radius: 8px;">
    <div class="chu" style="margin-left: 20px; margin-right:20px; padding: 1em;">
      <h2 style="text-align:center">
        <p>Input topic's code to search</p>
      </h2>
    </div>
  </div><br>
</div>
<br>
<!-- <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>

    <li class="page-item"><a class="page-link" href="#">...</a></li>
    <li class="page-item"><a class="page-link" href="#">10</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav> -->