<!--HEADER AND BANNER-->
<br>
<br>
<header class="gre-page-header gre-no-banners">
  <div class="grid-container">
    <p class="grid-site-context">
      <a href="https://enterprise.gre.ac.uk">Business & Enterprise</a>
    </p>
    <h1 class="gre-long-title">About Greenwich Research & Enterprise (GRE)</h1>
  </div>
</header>
<hr>
<!--LEAD-->
<main id="gre-main-content" role="main">
  <section class="lead-section">
    <div class="grid-container">
      <div class="lead">
        <p>We can advise on how to access our wide range of business support services, specialist facilities,
          expert training and world-leading expertise.</p>
      </div>
    </div>
  </section>
  <!--MAIN PAGE BODY INCLUDING RIGHT NAV-->
  <section class="gre-page-body">
    <div class="gre-main-content">
      <div class="gre-page-copy">
        <p>The Greenwich Research &amp; Enterprise directorate are dedicated to facilitating business engagement
          with companies of all sizes.</p>
        <h2>Our Mission</h2>
        <div id="new_content_container_1517420_162912">
          <div>
            Our mission is to inspire society and the world through discovering, applying and sharing
            knowledge.&nbsp;Recent accolades include Queen's Anniversary Prizes for Higher and Further
            Education for our work in transforming the lives of African farmers; Guardian newspaper awards
            for research impact in the areas of fire safety engineering and subsistence agriculture,
            Rockefeller Grand Challenge Prize for cassava food innovation and several Times Awards for our
            collaborative research.
          </div>
          <br>
          <div>
            GRE's research development team manage all the university's research activity, from initial bids
            and applications through to project completion and product IP and commercialisation.
            <br>
            <a title="Research" href="https://www.gre.ac.uk/research">Find out more about Research</a>
            <br> <br>
            <h3><b>Enterprise Development Managers</b></h3>
          </div>
          <div>
            Our team of Enterprise Development Managers (EDMs) work with companies to identify their
            business needs. This can be&nbsp;anything from product research and development to innovating
            new operational processes, to applying research-based solutions to business challenges.
          </div>
        </div>
      </div>
      <br>
      <!--RIGHT NAV-->
      <!-- <div class="gre-subnav">
        <div class="cell gre-section-navigation2 gre-subsection-content">
          <h3>In this section</h3>
          <ul class="gre-list-group">
            <li>
              <a href="http://enterprise.gre.ac.uk">
                <span class="show-for-sr"></span>Home
              </a>
            </li>
            <li class>
              <a href="http://enterprise.gre.ac.uk/access-our-expertise" title="Access our expertise">
                <span>Access our expertise</span>
              </a>
            </li>
            <li class>
              <a href="http://enterprise.gre.ac.uk/develop-your-talent" title="Develop your talent">
                <span>Develop your talent</span>
              </a>
            </li>
            <li class>
              <a href="http://enterprise.gre.ac.uk/funding-and-support" title="Funding and support">
                <span>Funding and support</span>
              </a>
            </li>
            <li class>
              <a href="http://enterprise.gre.ac.uk/access-our-equipment" title="Access our equipment">
                <span>Access our equipment</span>
              </a>
            </li>
            <li class>
              <a href="http://enterprise.gre.ac.uk/find-a-venue" title="Find a venue">
                <span>Find a venue</span>
              </a>
            </li>
            <li class>
              <a href="http://enterprise.gre.ac.uk/procurement" title="Procurement & Business Services">
                <span>Procurement & Business Services</span>
              </a>
            </li>
            <li class="gre-active">
              <a href="http://enterprise.gre.ac.uk/about-greenwich-research-and-enterprise-gre"
                title="About Greenwich Research & Enterprise (GRE)">
                <span>About GRE</span>
              </a>
            </li>
          </ul>
        </div>
      </div> -->
    </div>
  </section>
  <section class="gre-custom-footer gre-interrupt gre-accented" style="margin-left: 20px;">
    <span class="gre-anchor" id="intouch"></span>
    <div class="grid-container">
      <h2>More research news</h2>
      <div class="section-lead">
        <p>Find out about <a href="//www.gre.ac.uk/research">University of Greenwich research</a>, and the positive
          effects it's having all over the world.</p>
      </div>
    </div>
    <div class="grid-x grid-margin-x">
      <div class="cell-medium-5">
        <h2>Greenwich Research & Enterprise (GRE)</h2>
        <p>E-mail:
          <a href="mailto:enterprise@gre.ac.uk">enterprise@gre.ac.uk</a>
          <br>
          Telephone: 020 8331 1867
        </p>

        <h2>Contact us</h2>
        <p>You can contact us by e-mail, telephone or by completing the contact form on this page.</p>
        <p></p>
        <div class="gre-cta">
          <a class="gre-auto-content button hide" href="http://www.gre.ac.uk/_forms/gre/main-contact-form"
            data-contentclass="page-content" data-target="gre-contact-form">
            <i class="fas fa-arrow-circle-right" aria-hidden="true"></i> Get in touch
          </a>
        </div>
      </div>
      <div class="cell-medium-7">
        <div class="gre-contact-form"></div>
      </div>
    </div>
  </section>
</main>
<!--END RIGHT NAV BLOCK-->
<br>
<br>