header {
  font-family: "Helvetica Neue", Times, sans-serif;
  font-size: 2vw;
  letter-spacing: 1px;
  word-spacing: 5px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  line-height: 1.5em;
  width: 100%;
  height: auto;
  color: #213690;
}

main {
  margin-left: 20px;
  font-family: "Helvetica Neue", Times, sans-serif;
  color: #000000;
  font-size: 19px;
}
