<!-- <div class="example-box" *ngIf="this.i">
  <div class="card">
    <div class="card-body">

      <div>
        <label>
          <h4 (click)="openTopic((topic[card1 + (this.i * 2)].topicCode))">
            <b>Title: {{topic[card1 + (this.i * 2)].name}}</b>
          </h4>
        </label>

        <h4>Topic Code: {{topic[card1 + (this.i * 2)].topicCode}}</h4>
        <p>Publish date: {{getDate(topic[card1 + (this.i * 2)].publishDate)| date: 'dd/MM/yyyy'}}</p>
        <div class="textContent">
          Description: {{topic[card1 + (this.i * 2)].description}}
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">

      <div>
        <label>
          <h4 (click)="openTopic((topic[card2 + (this.i * 2)].topicCode))">
            <b>Title: {{topic[card2 + (this.i * 2)].name}}</b>
          </h4>
        </label>

        <h4>Topic Code: {{topic[card2 + (this.i * 2)].topicCode}}</h4>
        <p>Publish date: {{getDate(topic[card2 + (this.i * 2)].publishDate)| date: 'dd/MM/yyyy'}}</p>
        <div class="textContent">
          Description: {{topic[card2 + (this.i * 2)].description}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="example-box" *ngIf="!this.i">
  <div class="card">
    <div class="card-body">

      <div>
        <label>
          <h4 (click)="openTopic(topic[card1].topicCode)">
            <b>Title: {{topic[card1].name}}</b>
          </h4>
        </label>

        <h4>Topic Code: {{topic[card1].topicCode}}</h4>
        <p>Publish date: {{getDate(topic[card1].publishDate)| date: 'dd/MM/yyyy'}}</p>
        <div class="textContent">
          Description: {{topic[card1].description}}
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <div>
        <label>
          <h4 (click)="openTopic(topic[card2].topicCode)">
            <b>Title: {{topic[card2].name}}</b>
          </h4>
        </label>
        <h4>Topic Code: {{topic[card2].topicCode}}</h4>
        <p>Publish date: {{getDate(topic[card2].publishDate)| date: 'dd/MM/yyyy'}}</p>
        <div class="textContent">
          Description: {{topic[card2].description}}
        </div>
      </div>
    </div>
  </div>
</div>
<br> -->