h4 {
  color: #213690;
  font-family: "Helvetica Neue",
    Times,
    sans-serif;
}

h6 {
  color: #213690;
  font-family: "Helvetica Neue",
    Times,
    sans-serif;
}

p {
  color: #213690;
  font-family: "Helvetica Neue",
    Times,
    sans-serif;
}

.textContent {
  font-family: "Helvetica Neue", Times, sans-serif;
  letter-spacing: 1px;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: auto;
  font-size: 2rem;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.65;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #213690;
}

.textContentMobile {
  font-family: "Helvetica Neue", Times, sans-serif;
  letter-spacing: 1px;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 100px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 1.65;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
