@import '~bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, Arial, sans-serif;
}

.login h4 {
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.login-2 h4 {
  justify-content: center;
  display: flex;
}

#pcText,
#pcPassword {
  width: 90%;
  height: auto;
  padding: 12px 20px;
  margin: 8px 26px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
}

#mobile_text,
#mobile_password {
  width: 90%;
  height: auto;
  padding: 12px 20px;
  margin: 10px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  color: black;
  border: none;
  font-size: 18px;
  float: left;
}

img {
  width: 50%;
  height: auto;
}

button:hover {
  opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content Box */
.modal-content {
  background-color: #fefefe;
  margin: 4% auto 15% auto;
  border: 2px solid #888;
  width: 30%;
  padding-bottom: 30px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  animation: zoom 0.6s
}

.btnLogin {
  margin-top: 1em;
  width: 90%;
  height: auto;
}

.btnGooglePCview {
  margin-top: 0.5em;
  height: auto;
}

.btnFacebook {
  height: auto;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}
