<div class="d-none d-lg-block">
  <br>
  <br>
  <form class="modal-content animate" action="/action_page.php">

    <div class="login">
    </div>

    <div class="imgcontainer">
      <img src="../../assets/img/avartar.jpg">
    </div>

    <div class="container">
      <div class="d-flex justify-content-center">
        <input [(ngModel)]="email" type="text" placeholder="Email" id="pcText" name="Email">
      </div>
      <div class="d-flex justify-content-center">
        <input placeholder="Password" type="password" id="pcPassword" [(ngModel)]="password" name="Password">
      </div>

      <div class="d-flex justify-content-center">
        <button class="btn btn-info btnLogin" (click)="signIn()">
          <span>Login</span></button>
      </div>

    </div>
    <!-- <hr>
    <div>
      <div class="social-login">
        <div class="d-flex justify-content-center">
          <button style="background-color: #4267B2" class="btn btnFacebook" (click)="signIn()">
            <li class="list-inline-item"><a href="javascript:void();"><i style="color: #fff" class="fa
                  fa-facebook"></i></a></li>
            <span style="color: #fff">
              Sign in with Facebook
            </span>
          </button>
        </div>
        <div class="d-flex justify-content-center"> <button style="background-color: #db4a39"
            class="btn btnGooglePCview" (click)="signIn()">
            <li class="list-inline-item"><a href="javascript:void();"><i style="color: #fff" class="fa
                  fa-google-plus-square"></i></a></li>
            <span style="color: #fff">
              Sign in with Google
            </span>
          </button></div>


      </div>
    </div> -->
  </form>
</div>



<div class="d d-lg-none">
  <br><br>
  <br>
  <form style="margin-top: 2em;">

    <div class="login-2">
    </div>

    <div class="imgcontainer">
      <img src="../../assets/img/avartar.jpg">
    </div>

    <div class="moblieContent">
      <div class="moblieContent">
        <input [(ngModel)]="email" type="text" id="mobile_text" placeholder="Email" name="Email">
      </div>
      <div class="moblieContent">
        <input [(ngModel)]="password" placeholder="Password" id="mobile_password" type="password" name="Password">
      </div>

      <div class="d-flex justify-content-center">
        <button class="btn btn-info btnLogin" (click)="signIn()">
          <span>Login</span></button>
      </div>

      <!-- <div class="d-flex justify-content-center">
        <div class="social-login">
          <button style="background-color: #4267B2; font-size: 0.8rem;" class="btn btnFacebook" (click)="signIn()">
            <span style="color: #fff">
              Sign in with Facebook
            </span>
          </button>

          <button style="background-color: #db4a39; font-size: 0.8rem;
            margin-left: 0.5em;" class="btn btnGoogle" (click)="signIn()">
            <span style="color: #fff">
              Sign in with Google+
            </span>
          </button>
        </div>
      </div> -->
    </div>


  </form>
</div>