<br>
<br>
<br>
<br>
<section id="footer">
  <div class="row">
    <div class="col-2 d-none d-lg-block">
      <p><b>Website map</b></p>
      <hr style="border-bottom: 2px solid white;">
      <p><b> <a href="../index/homePage">Home Page</a></b></p>
      <p><b><a href="../index/dashboard">Dashboard</a></b></p>
      <p><b>Our Policies</b></p>
    </div>
    <div class="col-lg-6 d-none d-lg-block">
      <div class="col-3">
        <p><b>Connect with us</b></p>
      </div>
      <div class="col-4">
        <ul class="list-unstyled list-inline social">
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa
                      fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa
                      fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa
                      fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa
                      fa-google-plus"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-4 d-none d-lg-block">
      <p><b>ĐẠI HỌC GREENWICH (VIỆT NAM)</b></p>
      <p><b>CS1: 142-146 PHAM PHÚ THỨ - PHƯỜNG 4 - QUẬN 6</b></p>
      <p><b>CS2: 205 NGUYỄN XÍ - PHƯỜNG 26 - QUẬN BÌNH THẠNH</b></p>
      <p><b>ĐIỆN THOẠI: 028.7300.226</b></p>
      <p><b>Hotline: 0933.108.554 | 0971.294.545</b></p>
    </div>


    <!-- mobile view -->
    <div class="col d-sm-block  d-md-none d-lg-none">
      <p><b>ĐẠI HỌC GREENWICH (VIỆT NAM)</b></p>
      <p><b>CS1: 142-146 PHAM PHÚ THỨ - PHƯỜNG 4 - QUẬN 6</b></p>
      <p><b>CS2: 205 NGUYỄN XÍ - PHƯỜNG 26 - QUẬN BÌNH THẠNH</b></p>
      <p><b>ĐIỆN THOẠI: 028.7300.226</b></p>
      <p><b>Hotline: 0933.108.554 | 0971.294.545</b></p>
    </div>
    <div class="col d-sm-block  d-md-none d-lg-none">
      <div class="col-3">
        <p><b>Connect with us</b></p>
      </div>
      <div class="col-4">
        <ul class="list-unstyled list-inline social">
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa
                  fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa
                  fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa
                  fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa
                  fa-google-plus"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>


</section>