<div>
  <!-- <angular-file-uploader [config]="afuConfig">
  </angular-file-uploader> -->

  <label class="btn btn-default">
    <input type="file" multiple (change)="selectFiles($event)" />
  </label>
  
  <button
    class="btn btn-success"
    [disabled]="!selectedFiles"
    (click)="uploadFiles()"
  >
    Upload
  </button>
</div>